@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.app {
  text-align: center;
  background-color: #d6d9dd;
  font-family: 'Lato', sans-serif;
}

.back-to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: orange;
}

.back-to-top:hover {
  background-color: white;
  border-radius: 50%;
}

.auth-title {
  justify-content: center;
  text-align: center;
  background-color: red;
}

.arrow-svg {
  height: 40px;
}
