@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  height: 100%
}

.app {
  text-align: center;
  background-color: #d6d9dd;
  font-family: 'Lato', sans-serif;
}

.back-to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
  height: 500px;
}

.authentication-svg {
  height: 100px;
  margin: 20px
}

.arrow-svg {
  height: 40px;
}
