@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.form-container {
  width: 100%;
  padding: 5px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

form label {
  margin-bottom: 10px;
}

.title-input {
  height: 30px;
  min-height: 20px;
  max-height: 100px;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.content-input {
  height: 80px;
  min-height: 40px;
  max-height: 300px;
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 10px;
}

textarea {
  height: 80px;
  width: 400px;
}

.post-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #1d1d5f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.post-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 1025px) {

.title-input {
  width: 400px;
  max-width: 400px;
  min-width: 300px;
}

.content-input {
  width: 400px;
  max-width: 400px;
  min-width: 300px;
}
}

@media (max-width: 769px) {

.title-input {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.content-input {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}
}
