.likes {
  font-size: 0.90rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-top: 10px;
}

.like {
  background-image: url('../images/like.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  background-size: 25px 25px;
  margin-left: 1px;
  cursor: pointer;
}

.like_active {
  background-image: url('../images/like-active.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  background-size: 25px 25px;
  margin-left: 1px;
  cursor: pointer;
}

.like:hover {
  filter: invert(72%) sepia(10%) saturate(291%) hue-rotate(188deg) brightness(95%) contrast(88%);
  cursor: pointer;
}

.like_active:hover {
  filter: invert(72%) sepia(10%) saturate(291%) hue-rotate(188deg) brightness(95%) contrast(88%);
  cursor: pointer;
}
