.post-container {
  margin: 20px auto;
  padding: 30px;
  width: 800px;
  border-top: 1px solid black;
}

.post-container h2 {
  margin: 5px 0px;
}

.post-container p {
  margin: 0px;
  text-align: justify;
}

@media (max-width: 1025px) {

  .post-container {
    margin: 15px auto;
    padding: 14px;
    width: 400px;
  }
}

@media (max-width: 769px) {

  .post-container {
    width: 300px;
  }
}
